*{
    padding:0;
    margin:0;
}
body{
    background-color: blanchedalmond;
}
h1{
    font-family: fantasy;
    text-align: center;
    padding: 5px;

}
#container{
    width:800px;
    height:550px;
    background-color: aqua;
    margin-left:300px;
}
.main {
    width:100%;
    list-style:none;
}
.main li{
    margin-top: 10px;
    width:150px;
    height: 265px;
    border:2px solid rgb(14, 13, 13);
    background-color: rgb(248, 241, 238);
    float: left;
    margin:2px;
}
 p{
    font-family: cursive;
    background-color: orange;
    
}
